target/
.classpath
.project
.settings/
.cache
.history
.lib/
bin/
dist/*
project/

# Scala-IDE specific
.scala_dependencies
.worksheet

*.class
*.log

# IntelliJ
.idea/
jdot.iml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
